<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>Candidate Feedback Analyzer</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/sa_style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2></h2>
            <a href="/">AIECHAT</a>
            <a href="/sentiment_analysis">Sentiment Analysis</a>
        </div>
        <div class="main-content">
            <div class="heading">
                <h1>Candidate Feedback Analyzer Tool</h1>
                <h3>Upload feedback form for Sentiment Analysis...</h3>
            </div>
            <span>
                <a href="../static/form.pdf" target="_blank"> View a sample Feedback Form </a><br>
                <a href="https://docs.google.com/forms/d/1QLT0kgFYfjW1Fatjwfz9u8fBO3gp7mfoHsE7W4krO90/template/preview" target="_blank"> Click here to make a copy of this Google Form </a>
            </span>
            <div class="form_area">
                <form action="/sentiment_analysis_result" method="post" enctype="multipart/form-data">
                    <div id="field_inside">
                        <input type="file" name="file_name" id="file" accept=".csv">
                        <div id="custom-msg">No file chosen, yet.</div>
                        <button type="button" id="upload-button">Choose File</button>
                    </div>
                    <div id="drop">
                        <div>
                            <label for="catego">Choose a Category:</label>
                            <select name="Cate" id="catego">
                                <option value="0">Select the category</option>
                                <option value="1">Overall Experience</option>
                                <option value="2">Content and Sessions</option>
                                <option value="3">Networking Opportunities</option>
                                <option value="4">Value and Impact</option>
                            </select>
                        </div>
                    </div>
                    <div id="text_down">
                        <p style="margin:auto;font-size:15px;">Only if you want Analysis for one Category</p>
                    </div>
                    <div id="but">
                        <button id="but1" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <button class="menu-button" id="menuButton">
            <img src="{{ url_for('static', filename='images/menu-icon.png') }}" alt="Menu">
        </button>
    </div>
    <script>
        const fileBtn = document.getElementById("file");
        const customBtn = document.getElementById("upload-button");
        const customTxt = document.getElementById("custom-msg");

        customBtn.addEventListener("click", function() {
            fileBtn.click();
        });

        fileBtn.addEventListener("change", function() {
            if (fileBtn.files.length > 0) {
                customTxt.innerHTML = fileBtn.files[0].name;
            } else {
                customTxt.innerHTML = "No file chosen, yet.";
            }
        });

        const menuButton = document.getElementById("menuButton");
        const sidebar = document.querySelector(".sidebar");

        menuButton.addEventListener("click", () => {
            sidebar.classList.toggle("sidebar-open");
        });
    </script>
</body>
</html>
